/*a {*/
  /*text-decoration: none;*/
  /*color: #343434;*/
/*}*/


.name {
  font-weight: bold;
}

.roboto-large {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  text-anchor: middle;
  fill: rgb(255, 255, 255);
}

.roboto-normal {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  text-anchor: middle;
  fill: rgb(255, 255, 255);
}

.roboto-normal-bold {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  text-anchor: middle;
  fill: rgb(255, 255, 255);
  font-weight: bold;
}

.me-photo-circular {
  margin: auto;
  width: 170px;
  height: 170px;
  border-radius: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  background: url(../images/me.png) no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /*-webkit-filter: sepia(50%);*/
  cursor: pointer;
}

.center {
  text-align: center;
}

.email {
  display: block;
  margin-bottom: 15px;
  color: #111;
}

.email .fa {
  margin-right: 2px;
}

/*.author-social {*/
/*display: block;*/
/*margin-bottom: 5px;*/
/*font-size: 13px;*/
/*color: #111;*/
/*width: 50%;*/
/*}*/

/*.author-social .fa {*/
/*margin-right: 5px;*/
/*}*/

/*.author-social:visited {*/
/*color: #4e4e4e;*/
/*}*/

.recent-posts a:visited {
  color: #4e4e4e;
}

.recent-posts, .recent-posts li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recent-posts li {
  margin: 1em 0 0 3em;
  /*margin-left: 3em;*/
  width: 90%;
}

.recent-posts li:before {
  content: '\f188';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: rgba(79, 23, 23, 0.61);
}

.about-me {
  text-align: justify;
  margin-bottom: 60px;
}

.pagination {
  width: 100%;
  text-align: right;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

a.author-social {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: flex;
  /*width: 100%;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  font-size: 23px;
  background: #ccc;
  color: #fff;
  padding: 5px 0;
  text-decoration: none;
}

a.author-social:hover {
  color: #ffffff;
  background-color: #000000 ;
}

/*.icon-linkedin:before {*/
  /*content: "\f0e1";*/
/*}*/

/*[class^=icon-]:before, [class*=" icon-"]:before {*/
  /*text-decoration: inherit;*/
  /*display: inline-block;*/
  /*speak: none;*/
/*}*/

/*[class^=icon-], [class*=" icon-"] {*/
  /*font-family: FontAwesome;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
  /*text-decoration: inherit;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*display: inline;*/
  /*width: auto;*/
  /*height: auto;*/
  /*line-height: normal;*/
  /*vertical-align: baseline;*/
  /*background-image: none;*/
  /*background-position: 0 0;*/
  /*background-repeat: repeat;*/
  /*margin-top: 0;*/
  /*display: inline;*/
/*}*/